<div class="container-fluid div-parent">
  <div class="container row">
    <div class="col-lg-6 d-flex flex-column justify-content-center align-items-start">
      <div class="text-center w-75 mx-auto div-new">
        <h1 class="text-new">New Jeans Collection</h1>
        <p class="text-special">Special Offer</p>
      </div>
      <div class="btn-explore text-center ">
        <button (click)="goToProduct()">Explore Now <i class="bi bi-arrow-up-right ms-2 fs-5"></i></button>
      </div>
    </div>
    <div class="col-lg-6 d-flex justify-content-center align-items-center">
      <img src="../../image/banner-image-1.png" class="img-ban" alt="Not Found">
    </div>
  </div>
</div>

