  <div class="container vh-100 d-flex flex-column justify-content-between content">
    <div class="text-center div2">
      <p class="h1">Our Top Collection</p>
      <p>Explore our featured products to find the best for you.</p>
    </div>

    <div class="d-flex justify-content-center mb-4 link">
      <a class="mx-2 link-item">Best Seller</a>
      <a class="mx-2 link-item">New Arrivals</a>
      <a class="mx-2 link-item">Top Rate</a>
      <a class="mx-2 link-item">Latest Product</a>
    </div>

    <div class="row images flex-grow-1">
      <div class="col-md-4 col-sm-6 mb-4">
        <div class="img-container mb-2">
          <img src="../../image/3-1.jpg" alt="Anarka Gowns" class="img-fluid img-thumbnail">
        </div>
        <div class="text-center">
          <p class="product-title">Men's Brown Suits</p>
          <p class="product-price">1550 EG</p>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 mb-4">
        <div class="img-container mb-2">
          <img src="../../image/PhotoRoom.webp" alt="Ladies Printed Saree" class="img-fluid img-thumbnail">
        </div>
        <div class="text-center">
          <p class="product-title">Men's White Suits</p>
          <p class="product-price">1250 EG</p>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 mb-4">
        <div class="img-container mb-2">
          <img src="../../image/sss.webp" alt="Ladies Printed Saree" class="img-fluid img-thumbnail">
        </div>
        <div class="text-center">
          <p class="product-title">Men's Yellow Suits</p>
          <p class="product-price">1450 EG</p>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 mb-4">
        <div class="img-container mb-2">
          <img src="../../image/suits.jpg" alt="Ladies Printed Saree" class="img-fluid img-thumbnail">
        </div>
        <div class="text-center">
          <p class="product-title">Children's sky blue Suits</p>
          <p class="product-price"> 1000 EG</p>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 mb-4">
        <div class="img-container mb-2">
          <img src="../../image/images.jpeg" alt="Pure Chiffon Saree" class="img-fluid img-thumbnail">
        </div>
        <div class="text-center">
          <p class="product-title">Children's Black Suits</p>
          <p class="product-price">1200 Eg</p>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 mb-4">
        <div class="img-container mb-2">
          <img src="../../image/1 (1).jpg" alt="Lehenga, Wedding Gown" class="img-fluid img-thumbnail">
        </div>
        <div class="text-center">
          <p class="product-title">Children's gray Suits</p>
          <p class="product-price">1000 EG</p>
        </div>
      </div>
    </div>

    <div class="text-center mt-3">
      <button class="btn btn-dark text-light btn-explore" (click)="goToProduct()">Show More <i class="bi bi-arrow-up-right ms-2 fs-5"></i></button>
    </div>
  </div>

