<br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br>
<div class="div1">
  <div class="card-1">
    <span class="span1">
      <p>End of Season Clearance Sale up to 50%</p>
    </span>
    <span class="span2">
      <p>Welcome to the new garments products from master tailor. We have over three decades of experience in the people grooming industry</p>
    </span>
    <div class="text-center">
      <button class="btn-explore col-md-2" (click)="goToProduct()">Shop Now<i class="bi bi-arrow-up-right ms-2 fs-5"></i></button>
    </div>
  </div>
</div>
