<div class="container vh-100">
  <div class="text-center div2">
    <p class="h1">Top Category</p>
    <p>Follow the most popular trends and get exclusive items from Rmh Global M Sdn.Bhd shop</p>
    <div class="dot">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <div class="images container">
    <div class="image-item">
      <img src="../../image/9.jpg " class="imgg" alt="Not Found">
      <h3>Suits Collection</h3>
    </div>
    <div class="image-item">
      <img src="../../image/Gents Collection.png" alt="Not Found">
      <h3>Gents Collection</h3>
    </div>
    <div class="image-item">
      <img src="../../image/Kids Collection.png" alt="Not Found">
      <h3>Kids Collection</h3>
    </div>
    <div class="image-item">
      <img src="../../image/Women Collection.png" alt="Not Found">
      <h3>Women Collection</h3>
    </div>
  </div>
</div>
